/* CSS Slider container */
/* .imageshow-container {
    width: 100%;
    align-items: center;
    position: relative;
    margin: auto;   
} */

/* Hide the images by default  */
.imageClass {
    display: none;
}

/* Adding fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide{
    width: 70%;
}

.imageshow-container{
    padding: 50px 100px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .slide .imageshow-container .imageClass img{
    width: 100%;

}

.container .slide .imageshow-container .imageClass{
    display: flex;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Defining the dot styles */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Setting a different style for hovering and active */
.active,
.dot:hover {
    background-color: #717171;
}