



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



.container .slide .imageClass {
    display: flex;
    justify-content: space-evenly;
    /* display: none; */
}


.container .slide .imageClass .image{
    /* background-color: aqua; */
    width: 55%;
    margin: 50px 0 50px 100px;
}

.container .slide .imageClass .image img{
    width: 100%;
    padding: 40px;
}

.container .slide .imageClass .text{
    /* background-color: blue; */
    width: 40%;
    margin: 50px 100px 50px 0;
    text-align: center;
    align-items: center;
    padding: 100px 30px 30px 30px;
    line-height: 80px;
}

.container .slide .imageClass .text .new{
    font-size: 40px;
}

.container .slide .imageClass .text .buy{
    font-size: 30px;
}

/* Adding fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Defining the dot styles */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Setting a different style for hovering and active */
.active,
.dot:hover {
    background-color: #717171;
}